@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Merriweather', serif;
}

html {
    font-family: 'Merriweather', serif;
}

.background {
    background-image: url("../public/img/background.png");
}

.layered-peaks:before {
    background-image: url('/svg/layered-peaks-top-16:9.svg');
}

.stacked-peaks:before {
    background-image: url('/svg/stacked-peaks-16:9.svg');
}

.stacked-waves:before {
    background-image: url('/svg/stacked-waves-16:9.svg');
}

.waves:before {
   background-image: url('/svg/wave-16:9.svg'); 
}

.layered-waves:before {
    background-image: url('/svg/layered-waves-16:9.svg');
}